.faq {
  padding: 2rem;

  background: var(--color-gray-500);
  border-radius: 1rem;

  cursor: pointer;
}

.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__icon {
  font-size: 1.5rem;

  display: grid;
  place-items: center;

  color: var(--color-gray-100);
  background: transparent;
  
  cursor: pointer;
}

.faq p {
  margin-top: 1.5rem;
}