footer {
  font-size: 0.9rem;
  
  margin-top: 7rem;
  padding-top: 7rem;

  color: var(--color-gray-100);
  background: var(--color-primary);
}

.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
}

.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.footer__container p {
  font-size: 14px;

  margin-top: 0.5rem;
}

.footer__container article h4 {
  font-size: 1rem;

  margin-bottom: 0.6rem;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-top: 1.5rem;
}

.footer__socials a {
  padding: 0.7rem;
  
  background: var(--color-gray-100);
  border: 1px solid transparent;
  border-radius: 0.6rem;
  
  transition: var(--transition);
}

.footer__socials a svg {
  display: grid;
  place-items: center;

  color: var(--color-gray-600);
}

.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background-color: transparent;
}

.footer__copyright {
  padding: 1.5rem 0;
  margin-top: 5rem;
  
  color: var(--color-gray-100);
  border-top: 2px solid var(--color-primary-variant);

  text-align: center;
}

/* Media queries (medium screens) */
@media screen and (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

/* Media queries (small screens) */
@media screen and (max-width: 600px) {
  footer {
    margin-top: 7rem;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__container article {
    align-items: center;
  }

  .footer__container article p {
    text-align: center;
  }
}